body{
	background : #cce0ff;
	font-family: "Nunito",sans-serif;
}

#mainNavbar{
	color: #003366;
	font-size: 1.5rem;
}
#mainNavbar .navbar-brand{
	color: #003366;
	font-size: 1.5rem;
}
.navbar.scrolled {
    background: rgb(128, 255, 229);
    transition: background 500ms;
}
.carousel-inner > .carousel-item {
   height: 400px;
}
#eventjumbotron {
            /*background: url("imgs/header.jpeg") ;*/
             background: url("../images/header.jpeg") center center / cover no-repeat;
        }
#slide1 {
	background:url("../images/sports2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
#slide2 {
	background:url("../images/sports1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
#slide3 {
	background:url("../images/sports3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
.content{
	padding-top: 3%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.content h1{
	font-weight: 700;
	font-size: 3em;
}
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#eventjumbotron h2{
	font-weight:300;
	font-size:50px;
}
#eventjumbotron p{
	font-weight:300;
	font-size:25px;
}
#joshbanner {
     margin-top: 30px;
    }
.Nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(128, 255, 229);
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.Nav a {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	color:#0066ff;
	font-size:1.5rem;
	font-weight: 400;
}
.Nav a:hover {
	color: #003366;
	transition: 0.4s;
}
.Nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
@media (max-width: 500px) {
    #joshbanner {
     margin-top: 200px;
    }
}